
<% @participant.flats.each do |flat| %>

<h4>Квартира</h4>
  
<div class="span8">
  <%= link_to flat.address, edit_flat_path(flat) %> <span class="label label-info pull-right"><%= flat.price %> руб.</span>
  <br /> кол-во комнат: <%= flat.rooms_quantity %>, Общая площадь: <%= flat.total_square %> кв.м.  
  <hr>
</div>

<% end %>



