<div class="center hero-unit">
  <h1>Откройте мир больших возможностей!</h1>
  <h2><strong>Кредитный портфолио</strong> - мощный аргумент в руках заемщика!</h2>
   <%= link_to "Открыть доступ!", signin_path, class: "btn btn-large btn-primary" %>
  <hr>
  <p>Всего три простых шага и Ваши мечты станут реальностью!</p>
  <hr>
  <p>Все еще сомневаетесь? Загрузите нашу <%= link_to "Презентацию",    '#' %> и ознакомьтесь с <%= link_to "условиями участия",    '#' %>!</p>
</div>