<h4>Заграничный паспорт</h4>


<%= form_for(@oversea_passport) do |f| %>
    
  <%= render 'shared/error_messages', object: f.object %>

  <%= render 'oversea_passport_form', f: f %>

  <%= f.submit "Создать", class: "btn btn-large btn-primary" %>

<% end %>
