<h4>Квартира</h4>


<%= form_for(@flat) do |f| %>
    
  <%= render 'shared/error_messages', object: f.object %>

  <%= render 'flat_form', f: f %>

  <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>

<% end %>
