<div class="row">
  
      <h1>Портфолио</h1>
  
  <div class="span2"> 
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="#">Основные данные</a></li>
      <li><a href="#">Документы</a></li>
      <li><a href="#">Имущество</a></li>
      <li><a href="#">Доходы</a></li>
      <li><a href="#">Расходы</a></li>
      <li><a href="#">Активы</a></li>
      <li><a href="#">Пассивы</a></li>
    </ul>
    
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="#">Портебности</a></li>
    </ul>
  </div>
  
  <div class="span8">
    
    <p>
      Здесь будет распологаться основная информация о Кредитном портфолио потенциального заемщика.
    </p>
    
    <a href="/portfolios/create" role="button" class="btn" data-toggle="modal">Создать Портфолио</a>

    
  </div>
  
  <div class="span2"> 
    
    <ul class="thumbnails">
      <li class="span2">
        <h4 class="center">РЕЙТИНГ</h4>
        <p class="rating center">56</p>
      </li>
    </ul>
    
    <hr>
    
    <ul class="thumbnails">
      <li class="span2">
        <h4 class="center">ИНДЕКС</h4>
        <p class="index center">25</p>
      </li>
    </ul>
    
  </div>
  
</div>



