<div class="row">
    <div class="span8">
       <h3>Документы</h3>
    </div>


<% if @participant.passports %>
  <%= render 'participants/documents/passports' %>
<% else %>
<h4>Паспорт гражданина РФ</h4>
  <div class="span8">
    <h4>Паспорт гражданина РФ</h4>
    <%= link_to "Создать", new_passport_path, class: "btn btn-small btn-primary" %>
  </div>
<% end %>

<div class="span8">
  <hr>
</div>

<% if @participant.driver_license.empty? %>
  <div class="span8">
    <h4>Водительское удостоверение</h4>
    <%= link_to "Создать", new_passport_path, class: "btn btn-small btn-primary" %>
  </div>
<% else %>
  <%= render 'participants/documents/passports' %>
<% end %>


<div class="span8">
  
<hr>

<h4>Свидетельство ПФ РФ</h4> 

<hr>

<h4>Свидетельство ИНН</h4> 

<hr>

<h4>Страховой полис ОМС</h4> 

<hr>

<h4>Паспорт</h4> 

<hr>

<h4>Паспорт</h4> 

</div>

</div>