<div class="row">
  <div class="span8">
      <h3>Имущество</h3>
  </div>


  <div class="span8">

    <h4>Недвижимость</h4> 

    <hr>

    <h4>Транспортные средства</h4> 

    <hr>

    <h4>Иное</h4> 

  </div>

</div>
