<div class="row">
  
  <div class="span6 offset3">
    
    <h1>Новый пользователь</h1>
    
    <%= form_for(@user) do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= render 'shared/user_form', f: f %>
    
     <%= f.submit "Создать", class: "btn btn-large btn-success" %>
    <% end %>
    
  </div>
    

</div>


