/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #008f00;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  color: #008f00;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #008f00;
}

h4 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: normal;
  color: #008f00;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

img {
  position: middle;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #008f00;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #008f00;
  text-decoration: none;
}

/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 6px;
  margin-bottom: 15px;
  @include box_sizing;
}

input, select {
  height: auto !important;
}

.required {
  color: #f00;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Rating */

.rating {

  font-size: 3.5em;
  color: #008f00;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

/* Index  */

.index {

  font-size: 3.5em;
  color: #857bb1;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

select {
  line-height: 20px;
  height: 30px !important;
  margin: 0;
}

form > .row {
  margin-bottom: 5px;
}

.table {
  padding: 5px;
  margin-top: 5px;

  .header {
    font-weight: bold;
    min-height: 25px;
  }
}
select[id*=date] {
  width: 30%;
}