<h4>Автомобиль</h4>


<%= form_for(@car) do |f| %>
    
  <%= render 'shared/error_messages', object: f.object %>

  <%= render 'car_form', f: f %>

  <%= f.submit "Изменить", class: "btn btn-large btn-success" %>

<% end %>