<h4>Паспорт гражданина РФ</h4>

<% @participant.passports.each do |passport| %>
  
<div class="span8">
  <%= link_to passport.full_number, edit_passport_path(passport) %>, выдан: <%= passport.issuer %>, <%= passport.issue_date %> <span class="label label-important pull-right">Не действителен</span>
</div>

<% end %>



