<h4>Пенсионное свидетельство</h4>


  
<div class="span8">
  <%= link_to @participant.pension_certificate.snils, edit_pension_certificate_path(@participant.pension_certificate) %>, СНИЛС: <%= @participant.pension_certificate.snils %>, <span class="label label-warning pull-right">Нет скан-копии</span>
  <hr>
</div>





