<h4>Cвидетельсво ИНН</h4>


  
<div class="span8">
  <%= link_to @participant.tin_certificate.tin, edit_tin_certificate_path(@participant.tin_certificate) %>, ИНН: <%= @participant.tin_certificate.tin %>, <span class="label label-warning pull-right">Нет скан-копии</span>
  <hr>
</div>





