<footer class="footer">
  <small>
    &COPY; 2013 CrePort, LLC
  </small>
  <nav>
    <ul>
      <li><%= link_to "О Проекте",   about_path %></li>
      <li><%= link_to "Контакты",    contacts_path %></li>
      <li><%= link_to "Новости", '#' %></li>
    </ul>
  </nav>
</footer>