<footer class="footer">
  <small>
    &COPY; 2013 Finstrument, LLC
  </small>
  <nav>
    <ul>
      <li><%= link_to I18n.t('.about'),   about_path %></li>
      <li><%= link_to I18n.t('.contacts'),    contacts_path %></li>
      <li><%= link_to I18n.t('.news'), '#' %></li>
    </ul>
  </nav>
</footer>